<a href="https://colab.research.google.com/github/satyazprakash/PythonLabs/blob/main/Python_File_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# What is a Series?
# A Pandas Series is like a column in a table.
# It is a one-dimensional array holding data of any type.

import pandas as pd

a = [1,8,7,6,5,4,3,2]

myvar = pd.Series(a)

print(myvar)

0    1
1    8
2    7
3    6
4    5
5    4
6    3
7    2
dtype: int64

In [3]:
# Labels
# If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.
# This label can be used to access a specified value.

print(myvar[0])
print(myvar[1])
print(myvar[2])

1
8
7

In [7]:
# Create Labels
# With the index argument, you can name your own labels.

import pandas as pd
a = [1,7,2]

myvar = pd.Series(a, index = ["x","y","z"])

print(myvar)

print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [2]:
import pandas as pd

import pandas as pd

calories = {"day1": 420, "day2":380, "day3":390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [3]:
# DataFrames
# Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
# Series is like a column, a DataFrame is the whole table.

import pandas as pd

data = {
    "calories": [420, 380, 390],
     "days": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  days
0       420    50
1       380    40
2       390    45