<a href="https://colab.research.google.com/github/satyazprakash/PythonLabs/blob/main/Python_File_Pandas_DataFrame_Cleaning_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning Data
One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [ ]:
# Upload a file

from google.colab import files
uploaded =  files.upload()

# Display the uploaded file
for filename in uploaded.keys():
  print(f'Uploaded file: {filename}')

Saving data_to_clean.txt to data_to_clean.txt
Uploaded file: data_to_clean.txt

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [ ]:
# Print the first 5 rows of the DataFrame:


print(df.head(5))
print(df.head())  # By Default it prints 5 rows.

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [ ]:
# There is also a tail() method for viewing the last rows of the DataFrame.
# The tail() method returns the headers and a specified number of rows, starting from the bottom.

print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
# Info About the Data
# The DataFrames object has a method called info(), that gives you more information about the data set.

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

# Pandas - Cleaning Data
###Data cleaning means fixing bad data in your data set.

###Bad data could be:
###Empty cells
###Data in wrong format
###Wrong data
###Duplicates

In [ ]:
# Pandas - Cleaning Empty Cells
# Empty cells can potentially give you a wrong result when you analyze data.

#Remove Rows
#One way to deal with empty cells is to remove rows that contain empty cells.

# Return a new Data Frame with no empty cells:


import pandas as pd

df = pd.read_csv('data_to_clean.txt')

new_df = df.dropna() # Note: By default, the dropna() method returns a new DataFrame, and will not change the original.

print(new_df.to_string())

         Duration          Date  Pulse  Maxpulse  Calories
0              60  '2020/12/01'    110       130     409.1
1              60  '2020/12/02'    117       145     479.0
2              60  '2020/12/03'    103       135     340.0
3              45  '2020/12/04'    109       175     282.4
4              45  '2020/12/05'    117       148     406.0
5              60  '2020/12/06'    102       127     300.0
6              60  '2020/12/07'    110       136     374.0
7             450  '2020/12/08'    104       134     253.3
8              30  '2020/12/09'    109       133     195.1
9              60  '2020/12/10'     98       124     269.0
10             60  '2020/12/11'    103       147     329.3
11             60  '2020/12/12'    100       120     250.7
12             60  '2020/12/12'    100       120     250.7
13             60  '2020/12/13'    106       128     345.3
14             60  '2020/12/14'    104       132     379.3
15             60  '2020/12/15'     98       123     275.0
16             60  '2020/12/16'     98       120     215.2
17             60  '2020/12/17'    100       120     300.0
18             45  '2020/12/18'     90       112       NaN
19             60  '2020/12/19'    103       123     323.0
20             45  '2020/12/20'     97       125     243.0
21             60  '2020/12/21'    108       131     364.2
22             45           NaN    100       119     282.0
23             60  '2020/12/23'    130       101     300.0
24             45  '2020/12/24'    105       132     246.0
25             60  '2020/12/25'    102       126     334.5
26             60    2020/12/26    100       120     250.0
27             60  '2020/12/27'     92       118     241.0
28             60  '2020/12/28'    103       132       NaN
29             60  '2020/12/29'    100       132     280.0
30             60  '2020/12/30'    102       129     380.3
31             60  '2020/12/31'     92       115     243.0

In [ ]:
# Remove All rows with NULL values.
# Note: Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.

df = pd.read_csv('data_to_clean.txt')

df.dropna(inplace = True)

print(df.to_string())

         Duration          Date  Pulse  Maxpulse  Calories
0              60  '2020/12/01'    110       130     409.1
1              60  '2020/12/02'    117       145     479.0
2              60  '2020/12/03'    103       135     340.0
3              45  '2020/12/04'    109       175     282.4
4              45  '2020/12/05'    117       148     406.0
5              60  '2020/12/06'    102       127     300.0
6              60  '2020/12/07'    110       136     374.0
7             450  '2020/12/08'    104       134     253.3
8              30  '2020/12/09'    109       133     195.1
9              60  '2020/12/10'     98       124     269.0
10             60  '2020/12/11'    103       147     329.3
11             60  '2020/12/12'    100       120     250.7
12             60  '2020/12/12'    100       120     250.7
13             60  '2020/12/13'    106       128     345.3
14             60  '2020/12/14'    104       132     379.3
15             60  '2020/12/15'     98       123     275.0
16             60  '2020/12/16'     98       120     215.2
17             60  '2020/12/17'    100       120     300.0
18             45  '2020/12/18'     90       112       NaN
19             60  '2020/12/19'    103       123     323.0
20             45  '2020/12/20'     97       125     243.0
21             60  '2020/12/21'    108       131     364.2
22             45           NaN    100       119     282.0
23             60  '2020/12/23'    130       101     300.0
24             45  '2020/12/24'    105       132     246.0
25             60  '2020/12/25'    102       126     334.5
26             60    2020/12/26    100       120     250.0
27             60  '2020/12/27'     92       118     241.0
28             60  '2020/12/28'    103       132       NaN
29             60  '2020/12/29'    100       132     280.0
30             60  '2020/12/30'    102       129     380.3
31             60  '2020/12/31'     92       115     243.0

In [ ]:
# Replace Empty Values
# Another way of dealing with empty cells is to insert a new value instead.

# This way you do not have to delete entire rows just because of some empty cells.

# The fillna() method allows us to replace empty cells with a value:


df = pd.read_csv('data_to_clean.txt')

df.fillna(130, inplace = True)  #
print(df.to_string())

         Duration          Date  Pulse  Maxpulse  Calories
0              60  '2020/12/01'    110       130     409.1
1              60  '2020/12/02'    117       145     479.0
2              60  '2020/12/03'    103       135     340.0
3              45  '2020/12/04'    109       175     282.4
4              45  '2020/12/05'    117       148     406.0
5              60  '2020/12/06'    102       127     300.0
6              60  '2020/12/07'    110       136     374.0
7             450  '2020/12/08'    104       134     253.3
8              30  '2020/12/09'    109       133     195.1
9              60  '2020/12/10'     98       124     269.0
10             60  '2020/12/11'    103       147     329.3
11             60  '2020/12/12'    100       120     250.7
12             60  '2020/12/12'    100       120     250.7
13             60  '2020/12/13'    106       128     345.3
14             60  '2020/12/14'    104       132     379.3
15             60  '2020/12/15'     98       123     275.0
16             60  '2020/12/16'     98       120     215.2
17             60  '2020/12/17'    100       120     300.0
18             45  '2020/12/18'     90       112       NaN
19             60  '2020/12/19'    103       123     323.0
20             45  '2020/12/20'     97       125     243.0
21             60  '2020/12/21'    108       131     364.2
22             45           NaN    100       119     282.0
23             60  '2020/12/23'    130       101     300.0
24             45  '2020/12/24'    105       132     246.0
25             60  '2020/12/25'    102       126     334.5
26             60    2020/12/26    100       120     250.0
27             60  '2020/12/27'     92       118     241.0
28             60  '2020/12/28'    103       132       NaN
29             60  '2020/12/29'    100       132     280.0
30             60  '2020/12/30'    102       129     380.3
31             60  '2020/12/31'     92       115     243.0

In [ ]:
# Replace Only For Specified Columns
# The example above replaces all empty cells in the whole Data Frame.

# To only replace empty values for one column, specify the column name for the DataFrame:


import pandas as pd

df = pd.read_csv('data_to_clean.txt')

df.fillna({"Calories": 130}, inplace=True)

print(df.to_string())

         Duration          Date  Pulse  Maxpulse  Calories
0              60  '2020/12/01'    110       130     409.1
1              60  '2020/12/02'    117       145     479.0
2              60  '2020/12/03'    103       135     340.0
3              45  '2020/12/04'    109       175     282.4
4              45  '2020/12/05'    117       148     406.0
5              60  '2020/12/06'    102       127     300.0
6              60  '2020/12/07'    110       136     374.0
7             450  '2020/12/08'    104       134     253.3
8              30  '2020/12/09'    109       133     195.1
9              60  '2020/12/10'     98       124     269.0
10             60  '2020/12/11'    103       147     329.3
11             60  '2020/12/12'    100       120     250.7
12             60  '2020/12/12'    100       120     250.7
13             60  '2020/12/13'    106       128     345.3
14             60  '2020/12/14'    104       132     379.3
15             60  '2020/12/15'     98       123     275.0
16             60  '2020/12/16'     98       120     215.2
17             60  '2020/12/17'    100       120     300.0
18             45  '2020/12/18'     90       112       NaN
19             60  '2020/12/19'    103       123     323.0
20             45  '2020/12/20'     97       125     243.0
21             60  '2020/12/21'    108       131     364.2
22             45           NaN    100       119     282.0
23             60  '2020/12/23'    130       101     300.0
24             45  '2020/12/24'    105       132     246.0
25             60  '2020/12/25'    102       126     334.5
26             60    2020/12/26    100       120     250.0
27             60  '2020/12/27'     92       118     241.0
28             60  '2020/12/28'    103       132       NaN
29             60  '2020/12/29'    100       132     280.0
30             60  '2020/12/30'    102       129     380.3
31             60  '2020/12/31'     92       115     243.0

In [ ]:
# Append a DataFrame at the end of another DataFrame:

import pandas as pd

data1 = {
  "age": [16, 14, 10],
  "qualified": [True, True, True]
}
df1 = pd.DataFrame(data1)

data2 = {
  "age": [55, 40],
  "qualified": [True, False]
}
df2 = pd.DataFrame(data2)

# Use pd.concat() instead of append()
newdf = pd.concat([df1, df2])
print(newdf)

   age  qualified
0   16       True
1   14       True
2   10       True
0   55       True
1   40      False

In [ ]:
# Return a new DataFrame where the data type of all columns has been set to 'int64':

import pandas as pd

data = {
  "Duration": [50, 40, 45],
  "Pulse": [109, 117, 110],
  "Calories": [409.1, 479.5, 340.8]
}

df = pd.DataFrame(data)

newdf = df.astype('int64')

print(newdf)

   Duration  Pulse  Calories
0        50    109       409
1        40    117       479
2        45    110       340

In [ ]:
# Add a new column to the DataFrame:

import pandas as pd

data = {
  "age": [16, 14, 10],
  "qualified": [True, True, True]
}
df = pd.DataFrame(data)

newdf = df.assign(name = ["Emil", "Tobias", "Linus"])

print(newdf)

print(df.columns)
print(newdf.columns)

copydf = df.copy()

print(copydf)

   age  qualified    name
0   16       True    Emil
1   14       True  Tobias
2   10       True   Linus
Index(['age', 'qualified'], dtype='object')
Index(['age', 'qualified', 'name'], dtype='object')
   age  qualified
0   16       True
1   14       True
2   10       True

In [ ]:
# Remove the "age" column from the DataFrame:

import pandas as pd

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}

df = pd.DataFrame(data)

newdf = df.drop("age", axis='columns')

print(newdf)

    name  qualified
0  Sally       True
1   Mary      False
2   John      False

In [ ]:
# Remove duplicate rows from  the DataFrame:


import pandas as pd

data = {
  "name": ["Sally", "Mary", "John", "Mary"],
  "age": [50, 40, 30, 40],
  "qualified": [True, False, False, False]
}

df = pd.DataFrame(data)
print("Original Dataframe with duplicate: \n", df)

newdf = df.drop_duplicates()
print("Duplicates removed from dataframe : \n", newdf)

Original Dataframe with duplicate:
     name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False
3   Mary   40      False
Duplicates removed from dataframe :
     name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False

In [ ]:
# Remove all rows with NULL values from the DataFrame.

import pandas as pd

data = {
  "name": ["Sally", "Mary", "John", "Mary"],
  "age": [50, 40, None, 40],
  "qualified": [True, False, False, None]
}

df = pd.DataFrame(data)

print(df)

newdf = df.dropna()

print(newdf)

print(newdf.dtypes)

    name   age qualified
0  Sally  50.0      True
1   Mary  40.0     False
2   John   NaN     False
3   Mary  40.0      None
    name   age qualified
0  Sally  50.0      True
1   Mary  40.0     False
name          object
age          float64
qualified     object
dtype: object

In [ ]:
# Check which rows are duplicated and not:



import pandas as pd

data = {
  "name": ["John", "Mary", "John", "Sally", "Mary"],
  "age": [40, 30, 40, 50, 30],
  "city": ["Bergen", "Oslo", "Stavanger", "Oslo", "Oslo"]
}

df = pd.DataFrame(data)

s = df.duplicated()

print(s)

print(df.info)

0    False
1    False
2    False
3    False
4     True
dtype: bool
<bound method DataFrame.info of     name  age       city
0   John   40     Bergen
1   Mary   30       Oslo
2   John   40  Stavanger
3  Sally   50       Oslo
4   Mary   30       Oslo>

In [ ]:

import pandas as pd

data = {
  "name": ["Sally", "Mary", "John", "Mary"],
  "age": [50, 40, None, 40],
  "qualified": [True, False, False, None]
}

df = pd.DataFrame(data)

print(df)

newdf = df.isnull()

print(newdf)

print(df.shape)

    name   age qualified
0  Sally  50.0      True
1   Mary  40.0     False
2   John   NaN     False
3   Mary  40.0      None
    name    age  qualified
0  False  False      False
1  False  False      False
2  False   True      False
3  False  False       True
(4, 3)